# {{ ansible_managed }}

[Unit]
Description="Postgres Exporter"
After=docker.service


[Service]
Restart=always
RestartSec=10

ExecStartPre=-/usr/bin/docker rm -fv {{ postgres_exporter_container }}
ExecStart=/usr/bin/docker run \
    --name {{ postgres_exporter_container }} \
    --net=host \
    --env=DATA_SOURCE_NAME="postgresql://{{ postgres_exporter_user }}:{{ postgres_exporter_pass }}@127.0.0.1:{{ postgres_exporter_port }}/postgres?sslmode=disable" \
    --volume /etc/container/{{ postgres_exporter_container }}/queries.yaml:/queries.yaml:ro \
    {{ postgres_exporter_image }} \
    --extend.query-path /queries.yaml \
    --constantLabels id={{ inventory_hostname }},group={{ postgres_exporter_group }}


ExecStop=/usr/bin/docker rm -fv {{ postgres_exporter_container }}


[Install]
WantedBy=default.target