[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kubelet https://kubernetes.io/docs/reference/generated/kubelet/
After=docker.service
Requires=docker.service

[Service]
# WorkingDirectory=/var/lib/kubelet
ExecStart=/opt/bin/kubelet-{{ k8s_release }} --kubeconfig=/etc/kubernetes/kubelet.kubeconfig.yml
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
