[Unit]
Description=Kubernetes Kubelet

[Service]
Restart=always
RestartSec=10
Environment=KUBELET_IMAGE_URL={{ k8s_hyperkube_image_url }}
Environment=KUBELET_IMAGE_TAG={{ k8s_hyperkube_image_tag }}
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/run/kubelet-pod.uuid \
  --volume dns,kind=host,source=/etc/resolv.conf \
  --mount volume=dns,target=/etc/resolv.conf"
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --allow-privileged \
  --container-runtime=docker
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid
