global
    maxconn    4096
    log        127.0.0.1  local0  debug
    stats      timeout 30s

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  timeout http-request 15s
  timeout http-keep-alive 15s
  errorfile 400 /usr/local/etc/haproxy/errors/400.http
  errorfile 403 /usr/local/etc/haproxy/errors/403.http
  errorfile 408 /usr/local/etc/haproxy/errors/408.http
  errorfile 500 /usr/local/etc/haproxy/errors/500.http
  errorfile 502 /usr/local/etc/haproxy/errors/502.http
  errorfile 503 /usr/local/etc/haproxy/errors/503.http
  errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend monitor-in
  bind *:1936
  mode http
  option httplog
  monitor-uri /healthz

listen stats
  bind    *:1937
  mode    http
  stats   enable
  stats   hide-version
  stats   uri       /stats
  stats   refresh   30s

frontend k8s-api
  bind *:{{ k8s_api_port }}
  mode tcp
  option tcplog
  default_backend k8s-api

backend k8s-api
  mode tcp
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in k8s_master_hosts %}
  server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ k8s_api_port }} check
{% endfor %}
