#!/bin/sh

[ -x /usr/lib/cgi-bin/awstats.pl ] && sudo -u www-data /usr/lib/cgi-bin/awstats.pl -config={{ awstats_code }} -update {% if awstats_showsteps == 'yes' %}-showsteps{% endif %} | logger -i -t awstats
