#!/bin/sh

# {{ ansible_managed }}

set -e

# Drop everything on start
iptables --policy INPUT ACCEPT
iptables --flush INPUT

# Drop ipsets
ipset destroy

# Create ipsets
{% for name, value in iptables_ipset.iteritems() %}
ipset create {{ name }} {{ value.type }}
{% for member in value.members %}
ipset add {{ name }} {{ member }}
{% endfor %}
{% endfor %}

# Rules
{% for rules in iptables_input_rules_list %}
{% for rule in rules %}
iptables --append INPUT {{ rule }}
{% endfor %}
{% endfor %}

# Log and drop everything else
iptables --append INPUT -m limit --limit 2/min -j LOG --log-prefix "iptables-INPUT-dropped: " --log-level 4
iptables --append INPUT -j DROP

# Policy
iptables --policy INPUT {{ iptables_input_policy }}

{% if iptables_docker_filter %}

# create PRE_DOCKER chain
if ! iptables --numeric --list PRE_DOCKER 2>&1 >/dev/null; then
    iptables --new PRE_DOCKER
fi

# Flush chain
iptables --flush PRE_DOCKER

# Rules
{% for rules in iptables_input_rules_list %}
{% for rule in rules %}
iptables --append PRE_DOCKER {{ rule }}
{% endfor %}
{% endfor %}

# Log and drop everything else
iptables --append PRE_DOCKER -m limit --limit 2/min -j LOG --log-prefix "iptables-PRE_DOCKER-dropped: " --log-level 4
iptables --append PRE_DOCKER -j DROP
{% endif %}
