[Unit]
Description=Prometheus check-docker exporter
Wants=network.target

[Service]
ExecStart=/usr/local/bin/check-docker --port {{ prometheus_check_docker_port }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
