[ CA_default ]
default_md = sha256

[ req ]
distinguished_name = req_distinguished_name

[ req_distinguished_name ]

[ v3_ca ]
basicConstraints = critical, CA:true
keyUsage = critical, Digital Signature, Key Encipherment, Certificate Sign
