[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
DNS.5 = {{ k8s_api_host }}
IP.1 = {{ k8s_service_ip }}
{% for host in k8s_master_hosts %}
DNS.{{ loop.index + 5 }} = {{ host }}.{{ k8s_domain }}
IP.{{ loop.index + 1 }} = {{ hostvars[host].ansible_host }}
{% endfor %}
