[Unit]
Description={{ project }} stack
After=docker.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/docker stack deploy -c /etc/systemd/system/{{ project }}.yml {{ project }}
ExecStop=/usr/bin/docker stack rm {{ project }}

[Install]
WantedBy=default.target
