[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kube-proxy https://kubernetes.io/docs/reference/generated/kube-proxy/
After=network.target

[Service]
ExecStart=/opt/bin/kube-proxy-{{ k8s_release }} \
    --config=/etc/kubernetes/kube-proxy.config.yml
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
