# {{ ansible_managed }}

[Unit]
Description={{ service }}
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/s3sync-{{ s3sync_version }} \
    --source {{ s3sync_source }} \
    --destination {{ s3sync_destination }} \
    --include{% for path in s3sync_includes %} {{ path }}{% endfor %} \
{% if s3sync_excludes %}
    --exclude{% for path in s3sync_excludes %} {{ path }}{% endfor %} \
{% endif %}
    --port {{ s3sync_port }} \
    --verbosity {{ s3sync_verbosity }} \
    --rescan-delay {{ s3sync_rescan_delay }} \
    --watch

[Install]
WantedBy=default.target
