%% -*- mode: erlang -*-
%%
%% See http://www.rabbitmq.com/configure.html for details.
%%
[
    {rabbit, [
        {tcp_listeners, [5672]},
        {ssl_listeners, [5671]},
        {ssl_options, [
            {cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
            {certfile,"/etc/rabbitmq/ssl/cert.pem"},
            {keyfile,"/etc/rabbitmq/ssl/key.pem"},
            {verify,verify_peer},
            {fail_if_no_peer_cert,true}
        ]},
        {default_vhost,       <<"{{ default_vhost }}">>},
        {default_user,        <<"{{ default_user }}">>},
        {default_pass,        <<"{{ default_pass }}">>},
        {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
        {default_user_tags,   [administrator]}
    ]},
    {rabbitmq_management, [
        {listener, [{port, 15671}]}
    ]}
].
