# {{ ansible_managed }}

{% if item.auto|default('yes') == 'yes' %}auto {{ item.name }}
{% endif %}
iface {{ item.name }} inet {{ item.method|default('dhcp') }}
{% if item.address is defined %}    address {{ item.address }}
{% endif %}
{% if item.network is defined %}    network {{ item.network }}
{% endif %}
{% if item.netmask is defined %}    netmask {{ item.netmask }}
{% endif %}
{% if item.broadcast is defined %}    broadcast {{ item.broadcast }}
{% endif %}
{% if item.bridge_ports is defined %}    bridge_ports {{ item.bridge_ports }}
{% endif %}
{% if item.bridge_stp is defined %}    bridge_stp {% if item.bridge_stp %}{{ item.bridge_stp }}{% else %}off{% endif %}

{% endif %}
{% if item.bridge_fd is defined %}    bridge_fd {{ item.bridge_fd }}
{% endif %}
{% if item.bridge_maxwait is defined %}    bridge_maxwait {{ item.bridge_maxwait }}
{% endif %}
{% if item.post_up is defined %}    post-up {{ item.post_up }}
{% endif %}
{% if item.gateway is defined %}    gateway {{ item.gateway }}
{% endif %}
{% if item.dns_nameservers is defined %}    # dns-* options are implemented by the resolvconf package, if installed
    dns-nameservers {{ item.dns_nameservers|join(' ') }}
{% endif %}
{% if item.dns_search is defined %}    dns-search {{ item.dns_search }}
{% endif %}

{% for alias in item.aliases|default([]) %}
{% if alias %}
iface {{ item.name }} inet static
    address {{ alias }}

{% endif %}
{% endfor %}
