[Unit]
Description=Cadvisor
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/docker-compose -p {{ project }} -f /etc/init/{{ service }}.yml up
ExecStop=/usr/local/bin/docker-compose -p {{ project }} -f /etc/init/{{ service }}.yml down -v

[Install]
WantedBy=default.target
