[Unit]
Description=Cadvisor
Wants=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose -p {{ project }} -f /etc/init/{{ service }}.yml up
ExecStop=/usr/local/bin/docker-compose -p {{ project }} -f /etc/init/{{ service }}.yml down -v
Restart=on-failure

[Install]
WantedBy=multi-user.target
