[Unit]
Description=cncjs
Wants=network.target

[Service]
ExecStart=/usr/bin/cnc --host {{ cncjs_host }} --port {{ cncjs_port }} --config /etc/cncjs/cncrc
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
User=root
Group=dialout

[Install]
WantedBy=multi-user.target
