[Unit]
Description=Home Assistant
After=network.target
Wants=influxdb.service

[Service]
Type=simple
User=homeassistant
ExecStart=/var/lib/homeassistant/env/bin/hass -c /var/lib/homeassistant

[Install]
WantedBy=multi-user.target
